/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.letter-box {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.game-title {
  margin-bottom: 10px;
}

.game-subtitle {
  margin-bottom: 20px;
}

.letters-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 15px;
}

.result-message {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.play-again-button {
  margin-top: 20px;
}
